* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.card {
  background-color: #050404;
  width: 400px;
  height: 230px; 
  text-align: center;
  padding: 5px;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-top {
  margin-top:20px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f0f0f0;
}

.logo{
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-top img{
  height: 35px;
}
.card-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 20px;
  margin-top: 10px;;
}

.card-n{
  font-size: 15px;
  margin-top: 30px;
  color: #f0f0f0;
}
.card-number{
  font-size: 18px;;
  margin-top: 5px;;
  color: #f0f0f0;
}
.valid{
  font-size: 15px;
  color: #f0f0f0;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 20px;
  margin-top: 12px;
}
.card-bottom{
  color: #f0f0f0;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 05px 40px 20px 20px;
}

